.app-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
}

.custom-template {
  padding: 0.5rem;
}

.custom-template p {
  text-align: center;
  font-weight: bold;
  color: var(--color-neutral-dark-90);
}

/* alterado apenas para demonstração no portal*/
po-header {
  --nav-position: flex;
}
